*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
	padding: 0;
	font-size: 18px;
	font-family: "Lato";
}
.wrap{
	display: flex;
  	flex-direction: column;
  	flex-wrap: wrap;
  	justify-content:center;
}
/*slider*/
#slider{
	height: 400px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	font-size: 14px;
	color:white;
}
#slider > div{
	position:absolute;
}
.slide-header {
	position: absolute;
	bottom:20%;
	text-align: center;
	width:100%;
}
.fadeitem{
	width: 100%;
	height: 400px;
	width: 100%;
	filter: brightness(70%);
	object-fit: cover;
}
.slide{
	opacity: 0;
	transition: 1s opacity;
}
.slide.show{
opacity: 1;
transition: 1s opacity;
}
.page-dots{
    position: relative;
    width: 100%;
    top:90%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
.dots{
	display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #fff;
    border-radius: 50%;
    filter: alpha(opacity=25);
    opacity: 0.25;
    cursor: pointer;
}
.button{
	display: block;
    position: absolute;
    top: 20%;
    background: none;
    padding: 2%;
    color: #eee;
    border: none;
}
.previous, .next{
	cursor:pointer;
	z-index:1000;
}
.dots.is-selected{
	opacity:1;
}
.previous{
	left:0;
	text-align:inherit;
}
.next{
	right:0;
	text-align:end;
}
.slide-cat, .slide_button, .slide-comment{
	display:none;
}
.slide-cat, .slide-comment{
	font-size: 1em;
}
.slide_button{
	font-size: 1.2em;
}
.main-slide-header{
	font-weight:100;
	font-size:1.3em;
}

/*header*/

#box3{
	width:100%;
	height: 100%;
	display: inline;
	left:0;
	z-index: 1000;
}
.menu1{
	display: none;
	width:73%;
}
#logo{
	font-size: 1.5em;
	font-family: 'Pacifico', cursive;
	padding-left: 1em;
}

#box2{
	z-index:1000;
	display: inline;
	float:left;
}
#hamburger{
	float: right;
	width:10%;
	text-align: center;
	padding-top:1em;
}
.fa-times{
	float: right;
    width: 10%;
    text-align: center;
    padding-top: 1em;
    display: none;
}
/*menu*/

.menu{
	width: 90%;
	height:100%;
	display: block;
	background: rgba(11, 11, 46, 0.92);
	color: white;
	left: 0;
	right: auto;
	overflow: hidden;
    position: absolute;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    top:0;
    z-index:1000;}

.menu-main{
	margin: 3em 1.3em;
	line-height: 2.5em;
}
.menu li{
	list-style-type: none;
	font-size: 1em;
	border-bottom: 1px solid;
}
.menu a{
	text-decoration: none;
	color:rgba(255, 255, 255, 0.8);
}
.menu1{
	display:none;
	list-style-type: none;
}
input#mySearch{
	border-radius: 25px;
    padding-left: 10px;
    float:left;
    right:0;
    display: inline;
    display: none;
}
/*section-second*/

.section-two{
	background-color: white;
	width:100%;
	height:400px;
	text-align: center;
	text-transform: uppercase;
	padding-top:130px;
}
.section-two h1{
	font-size: 1.3em;
	line-height: 1.8em;
	padding-left: 1em;
    padding-right: 1em;
}
.section-two p{
	font-size: 1em;
	color:grey;
}
#two_button{
	color: black;
	border-radius: 500px;
    font-weight: 700;
    margin: 20px 0 0;
}
#two_button a{
    display: inline-block;
    padding: 2px 7px;
    border: 2px solid black;
    text-decoration: none;
   	color: black;
   	font-size: 1em;
}
#two_button :hover{
	color:grey;
	border: 2px solid grey;
}

 /*section-four*/
.section-four{
	width:100%;
	height: 780px;
}
.section-four #bridge{
	background-color: #586c8a;
	padding: 170px 1em;
	color:white;
	font-size: 1.2em;
	text-align: center;
	text-transform: uppercase;
}
.section-four img{
	object-fit: cover;
	height: 400px;
	width: 100%
}
 /*section-three, section five*/
 .section-three, .section-five{
 	background-color: LightGray;
}

 .section-three #new-title,  .section-five #new-title {
 	text-transform: uppercase;
 	padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
 }
 #new-title h2{
 	font-size:40px;
 }
.entry-body{
	padding:0 2em;
	width:100%;
	height:480px;
 }
.entry-body img{
 	max-width:100%;
 	height:auto;
 	object-fit: cover;  	
 }
.entry-body .caption{
	display: inline-block;
 }
.entry-body .caption h1{
	font-weight: 600;
	font-size: 1em;
}
.entry-body .caption .line {
	font-size: 0.7em;
	color: grey;
}
.caption p{
	line-height: 1.2em;
	font-size:20px;
	padding-bottom: 1em;
}


/*navigation*/
.navigation{
	text-align: center;
	color:grey;
	padding:3em;
}
.navigation span,.navigation a{
	text-decoration: none;
	color: inherit;
	display: inline-block;
	margin: 0 1em;
}
/*page number*/
#page-number-current{
	color:black;
	font-weight: bold;
}
.next{
	right:0;
}
/*About me*/
.section-footer{
	height: 570px;
	width:100%;
	background-color: #586c8a;
    line-height: 2em;
    padding: 1.3em;
    color:white;
    font-size: 1em;
}
#about-me{
	padding: 2em 0;
}
.section-footer i{
	padding-left:1em;
}
.section-footer a:hover{
	opacity:0.5;
}
.section-footer p{
	font-size: 1em;
}

.section-footer h3{
	text-transform: uppercase;
}
.section-footer h4{
	margin-bottom: 1em;
	text-transform: uppercase;
}
/*site map*/
.site-map{
	width: 100%;
	height: 30px;
	border-bottom: 1px solid silver;
}
.cat-item{
	float: left;
	margin: 0 3%;
	font-size:1.3em;
}
.site-map ul{
	list-style-type: none;
}
/*footer*/
.footer{
	width: 100%;
	height: 60px;
}
.footer p{
	font-size: 1em;
	padding-left: 1.3em;
}
.footer a, .section-footer a{
	text-decoration: none;
	color:inherit;
	font-size: 0.6em;
}

/*------------------large screen------------------------------*/
@media screen and (min-width: 992px)  {

/*menu*/
#hamburger{
	display:none;
}
#box1{
	width:77%;
	float:right;
	display: inline-block;
	padding-left: 0;
}
.menu{
	display: none;
}
.menu1{
	display: inline;
	float: right;
	padding-top: 1em;
	padding-right:3em;
}
.menu1 > li{
	float: right;
	margin: 0 4%;
}
.menu1 a{
	text-decoration: none;
	color:white;
}
.input-search{
	position: absolute;
    z-index: 200;
    right:30px;
}
.input-search #mySearch{
	width:200px;
}
.button{
	top:40%;
}
/*logo*/
#box2{
	float:left;
	width:28%;
	display: inline-block;
	vertical-align: middle;
}
#box3{
	height: 700px;
}
/*slider*/
#slider{
	height:500px;
	width:100%;
}
.fadeitem{
	height:500px;
}

.slide_button{
    border-radius: 500px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0 0;
}
.slide_button a{
    display: inline-block;
    color: #ededed;
    padding: 5px 10px;
    border: 2px solid white;
    text-decoration: none;
    font-size: 0.5em;
}
.slide-cat, .slide_button, .slide-comment{
	display:block;
}
#slider{
	height:700px;
}
.fadeitem{
	height:700px;
}
.main-slide-header{
	font-size: 1.8em;
}
.section-footer{
	height: 700px;
}

.section-two{
	padding-top: 150px;
}
/*section-three four*/
.entry-body{
	width: 30%;
	margin-left: 2%;
	display:inline-block;
	align-self:flex-start;
}
#bridge, .section-four img{
	width:50%;
	display: inline-block;
	height: 400px;
	float: left;
}
#bridge{
	order:1;
}
.section-four img{
	order:2;
}
.content-area{
	display: inline;
}
.section-four{
	height:400px;
}
/*footer*/
.footer{
	width:100%;
}
.footer a {
	font-size: 0.8em;
}
