body{
	background: #c1bdba;
	font: 600 20px 'Titillium Web',sans-serif;
}
.container{
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    color: white;
 }
input, .button{
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255,255,255,.1);
    width: 100%;
    color: #fff;
    display: block;    
    margin-bottom: 15px;
}
.button{
	    background: #1161ee;
}
.selection-wrap input:checked + label{
    opacity: 1;
    border-bottom: 2px solid #1161ee;
}

.line{
	height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255,255,255,.2);
}
.selection-wrap .status{
	display: none;
}
.selection-wrap label, .button{
	text-transform: uppercase;
}

label{
	font-size: 22px;
    margin-right: 15px;
    margin: 0 15px 10px 0;
    display: inline-block;
    opacity: 0.2;
}